<footer class="footer_section">
    <div class="border_top wow fadeInDown" data-wow-delay=".2s"></div>
    <div class="container wow fadeInDown " data-wow-delay=".2s">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_part">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-8">
                            <p>© Copyright 2021 Uday Shankar </p>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <div class="social_icon">
                                <a href="#"><i class="ti-dribbble"></i></a>
                                <a href="#"><i class="ti-facebook"></i></a>
                                <a href="#"><i class="ti-twitter-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>