<footer class="footer_section">
    <div class="border_top"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_part">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-8">
                            <p>© Copyright 2021 Uday Shankar </p>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <div class="social_icon">
                                <a href="https://www.github.com/udayms" target="_blank"><i class="ti-github"></i></a>
                                <a href="https://www.linkedin.com/in/udayms" target="_blank"><i class="ti-linkedin"></i></a>
                                <a href="https://www.twitter.com/udayms" target="_blank"><i class="ti-twitter-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>