<section class="portfolio_section section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="section_tittle style_2">
                    <h5 class="wow fadeInDown" data-wow-delay=".3s">Our Portfolio</h5>
                    <h2 class="wow fadeInDown" data-wow-delay=".5s">Our recent <span>Projects</span> </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-12 wow fadeInDown" data-wow-delay=".3s">
                <div class="single_portfolio_section full_width_portfolio">
                    <a href="single_project_1.html">
                        <img src="img/gallery/portfilio_1.png" alt="#" class="img-fluid">
                    </a>
                    <div class="single_portfolio_content">
                        <h4 class="text_fadeup d-block"> 
                            <a href="single_project_1.html" class="wow fadeInUp2 d-block" data-wow-delay=".4s">Social Banner</a> 
                        </h4>
                        <p class="text_fadeup d-block"> 
                            <span class="wow fadeInUp2 d-block" data-wow-delay=".5s"> UI/UX Design</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".4s">
                <div class="single_portfolio_section">
                    <a href="single_project_1.html">
                        <img src="img/gallery/portfilio_2.png" alt="#" class="img-fluid">
                    </a>
                    <div class="single_portfolio_content">
                        <h4 class="text_fadeup d-block"> 
                            <a href="single_project_1.html" class="wow fadeInUp2 d-block" data-wow-delay=".5s">Social Banner</a> 
                        </h4>
                        <p class="text_fadeup d-block"> 
                            <span class="wow fadeInUp2 d-block" data-wow-delay=".6s"> UI/UX Design</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".5s">
                <div class="single_portfolio_section">
                    <a href="single_project_1.html">
                        <img src="img/gallery/portfilio_3.png" alt="#" class="img-fluid">
                    </a>
                    <div class="single_portfolio_content">
                        <h4 class="text_fadeup d-block"> 
                            <a href="single_project_1.html" class="wow fadeInUp2 d-block" data-wow-delay=".6s">Social Banner</a> 
                        </h4>
                        <p class="text_fadeup d-block"> 
                            <span class="wow fadeInUp2 d-block" data-wow-delay=".7s"> UI/UX Design</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".8s">
                <div class="single_portfolio_section">
                    <a href="single_project_1.html">
                        <img src="img/gallery/portfilio_4.png" alt="#" class="img-fluid">
                    </a>
                    <div class="single_portfolio_content">
                        <h4 class="text_fadeup d-block"> 
                            <a href="single_project_1.html" class="wow fadeInUp2 d-block" data-wow-delay=".9s">Social Banner</a> 
                        </h4>
                        <p class="text_fadeup d-block"> 
                            <span class="wow fadeInUp2 d-block" data-wow-delay="1s"> UI/UX Design</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay="1s">
                <div class="single_portfolio_section">
                    <a href="single_project_1.html">
                        <img src="img/gallery/portfilio_5.png" alt="#" class="img-fluid">
                    </a>
                    <div class="single_portfolio_content">
                        <h4 class="text_fadeup d-block"> 
                            <a href="single_project_1.html" class="wow fadeInUp2 d-block" data-wow-delay="1s">Social Banner</a> 
                        </h4>
                        <p class="text_fadeup d-block"> 
                            <span class="wow fadeInUp2 d-block" data-wow-delay="1s"> UI/UX Design</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio_shape wow fadeInLeft" data-wow-delay=".5s">
        <img src="img/icon/testimonial_icon_3.png" alt="#" data-parallax='{"x": 0, "y": -100}'>
    </div>
</section>