<section class="testimonial_section navText">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="section_tittle mb_55">
                    <h5 class="wow fadeInDown" data-wow-delay=".3s">Wins & Innovations</h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="testimonial_section_content testimonial_slider owl-carousel">
                    <div class="single_testimonial_slider">
                        <img src="img/icon/contributions.png" alt="#">
                        <h5>Most Significant Contribution</h5>
                        <p>{{page.contribution}}</p>
                    </div>
                    <div class="single_testimonial_slider">
                        <img src="img/icon/wins.png" alt="#">
                        <h5>Most Significant Win </h5>
                        <p>{{page.win}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/icon/testimonial_icon_4.png" alt="#" class="testimonial_icon_2 wow fadeInRight" data-wow-delay=".3s">
</section>