{% if page.screenshots %}
<section class="portfolio_details_gallery  sec_padding border_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-sm-12">
                <div class="portfolio_details_img">
                    <img src="img/prj-scrshots/{{ page.screenshots[2] }}.png" alt="#" class="img-fluid">
                </div>
            </div>
            <div class="col-sm-10">
                <div class="section_tittle mb_55">
                    <h5 class="wow fadeInDown" data-wow-delay=".3s">Screenshots</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio_details_img">
                    <img src="img/prj-scrshots/{{ page.screenshots[0] }}.png" alt="#" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio_details_img">
                    <img src="img/prj-scrshots/{{ page.screenshots[1] }}.png" alt="#" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio_details_shape" data-parallax='{"x": 0, "y": 100}'>
        <img src="img/icon/testimonial_icon_3.png" alt="#" class="wow fadeInRight" data-wow-delay=".3s">
    </div>
</section>
{% endif %}