<div class="col-lg-4">
    <div class="portfolio_content_list pl_30">
        <h3>Metrics</h3>
        <div class="content_list_iner">
            <div class="single_content_list">
                <h5>Company</h5>
                <p>{{ page.metrics.company }}</p>
            </div>
            <div class="single_content_list">
                <h5>Role</h5>
                <p>{{ page.metrics.role }}</p>
            </div>
            <div class="single_content_list">
                <h5>Year</h5>
                <p>{{ page.metrics.year}}</p>
            </div>
            <div class="single_content_list">
                <h5>Site</h5>
                <p> <a href="{{ page.metrics.link }}" target="_blank">{{ page.metrics.site }}</a></p>
            </div>
            {% if page.metrics.duration %}
            <div class="single_content_list">
                <h5>Duration</h5>
                <p>{{ page.metrics.duration }} Weeks</p>
            </div>
            {% endif %}
            <!-- <div class="single_content_list">
                <h5>Share:</h5>
                <div class="social_icon">
                    <a href="#"><i class="ti-dribbble"></i></a>
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                </div>
            </div> -->
        </div>
    </div>
</div>