<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>About</title>

    {% include "v2/partials/_css-links.html" %}
    
</head>

<body>
    
    <!-- header part -->
    {% set page = { 'menuHighlight': 'about' } %}
    {% include "v2/partials/_header.html" %}
    <!-- header part end -->

    <!-- about part here -->
    {% include "v2/partials/_about-me.html" %}
    <!-- about part end -->

    <!--skil list section here -->
    {# % include "v2/partials/_skills.html" % #}
    <!-- skil list section end -->

    <!--portfolio part here -->
    {# % include "v2/partials/_portfolio.html" % #}
    <!-- portfolio part end -->

    <!-- our blog part here -->
    {% include "v2/partials/_past-employers.html" %}
    <!-- our blog part end -->

    <!-- footer part here -->
    {% include "v2/partials/_footer.html" %}

    <!-- jquery slim -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstarp js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- swiper js -->
    <script src="vendors/swiper/swiper.min.js"></script>
    <!-- owl carousel js -->
    <script src="vendors/owl_carousel/js/owl.carousel.min.js"></script>
    <!-- parallax js -->
    <script src="vendors/parallax/jquery.parallax-scroll.js"></script>
    <script src="vendors/parallax/parallax.js"></script>
    <!-- wow js -->
    <script src="vendors/wow/wow.min.js"></script>
    <!-- progressbar js -->
    <script src="vendors/progressbar/progressbar.js"></script>
    <script src="vendors/countdown/js/jquery.waypoints.min.js"></script>
    <!-- imagesloaded js -->
    <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    
    
</body>

</html>