{% set page = { menu: {
        'highlight': 'work'
        }, projects: [
            {
        id: 1,
        impact: '<span>Redefining</span>',
        feature: 'Market monitoring ',
        context: 'experience',
        company: 'BitMEX',
        'url': 'prj-bitmex-mobile-1.html',
        'image': 'portfolio-bitmex-mobile-1'
            },
            {
        id: 2,
        impact: '<span>Increasing</span>',
        feature: 'Customer trust with the best',
        context: 'wallet experience',
        company: 'BitMEX',
        'url': 'prj-bitmex-mobile-2.html',
        'image': 'portfolio-bitmex-mobile-2'
            },
            {
        id: 3,
        impact: '<span>Improving</span>',
        feature: 'realtime chat experience in ',
        context: 'Trollbox',
        company: 'BitMEX',
        'url': 'prj-bitmex-mobile-3.html',
        'image': 'portfolio-bitmex-mobile-3'
            },
            {
        id: 4,
        impact: '<span>Optimizing</span>',
        feature: 'execution speed ',
        context: 'for expert traders',
        company: 'BitMEX',
        'url': 'prj-bitmex-desktop-1.html',
        'image': 'portfolio-bitmex-desktop-1'
            },
            {
        id: 5,
        impact: '<span>Helping</span> customers',
        feature: 'secure their accounts on',
        context: 'the platform',
        company: 'BitMEX',
        'url': 'prj-bitmex-desktop-2.html',
        'image': 'portfolio-bitmex-desktop-2'
            },
            {
        id: 6,
        impact: '<span>Creating</span>',
        feature: 'a novel experience for',
        context: 'IPLM customers',
        company: 'Perforce',
        'url': 'prj-bitmex-desktop-3.html',
        'image': 'portfolio-bitmex-desktop-3'
            }
        ]
    }
%}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Uday Shankar</title>
    {% include "v2/partials/_css-links.html" %}
</head>

<body>
<!-- header part -->
{% include "v2/partials/_header.html" %}
<!-- header part end -->

<section class="profile_info style_3 padding_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="profile_info_iner">
                    <h3 class="wow fadeInDown" data-wow-delay=".3s">People centric <br/><span class="typed_text"></span><br/> with an obsession to delight customer </h3>
                </div>
            </div>
        </div>
    </div>
</section>

    <!--portfolio part here -->
    <section class="portfolio_section section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="section_tittle style_2">
                        <div class="text_fadeup">
                            <h5 class="wow fadeInUp2" data-wow-delay=".3s">Most Recent Work</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".1s">
                    <div class="single_portfolio_section">
                        <a href="prj-bitmex-mobile-1.html">
                            <img src="img/home/portfolio-bitmex-mobile-1.png" alt="#" class="img-fluid">
                        </a>
                        <div class="single_portfolio_content">
                            <h4 class="text_fadeup d-block"> 
                                <a href="prj-bitmex-mobile-1.html" class="wow fadeInUp2 d-block" data-wow-delay=".5s">Redefining</a> 
                            </h4>
                            <p class="text_fadeup d-block"> 
                                <span class="wow fadeInUp2 d-block" data-wow-delay=".6s">market monitoring experience</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".2s">
                    <div class="single_portfolio_section">
                        <a href="prj-bitmex-mobile-2.html">
                            <img src="img/home/portfolio-bitmex-mobile-2.png" alt="#" class="img-fluid">
                        </a>
                        <div class="single_portfolio_content">
                            <h4 class="text_fadeup d-block"> 
                                <a href="prj-bitmex-mobile-2.html" class="wow fadeInUp2 d-block" data-wow-delay=".5s">Increasing</a> 
                            </h4>
                            <p class="text_fadeup d-block"> 
                                <span class="wow fadeInUp2 d-block" data-wow-delay=".7s">customer trust with the best</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".3s">
                    <div class="single_portfolio_section">
                        <a href="prj-bitmex-mobile-3.html">
                            <img src="img/home/portfolio-bitmex-mobile-3.png" alt="#" class="img-fluid">
                        </a>
                        <div class="single_portfolio_content">
                            <h4 class="text_fadeup d-block"> 
                                <a href="prj-bitmex-mobile-3.html" class="wow fadeInUp2 d-block" data-wow-delay=".5s">Improving</a> 
                            </h4>
                            <p class="text_fadeup d-block"> 
                                <span class="wow fadeInUp2 d-block" data-wow-delay="1s"> realtime chat experience</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".4s">
                    <div class="single_portfolio_section">
                        <a href="prj-bitmex-desktop-1.html">
                            <img src="img/home/portfolio-bitmex-desktop-1.png" alt="#" class="img-fluid">
                        </a>
                        <div class="single_portfolio_content">
                            <h4 class="text_fadeup d-block"> 
                                <a href="prj-bitmex-desktop-1.html" class="wow fadeInUp2 d-block" data-wow-delay="0.5s">Optimizing</a> 
                            </h4>
                            <p class="text_fadeup d-block"> 
                                <span class="wow fadeInUp2 d-block" data-wow-delay="1s">execution speed for traders</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".5s">
                    <div class="single_portfolio_section">
                        <a href="prj-bitmex-desktop-2.html">
                            <img src="img/home/portfolio-bitmex-desktop-2.png" alt="#" class="img-fluid">
                        </a>
                        <div class="single_portfolio_content">
                            <h4 class="text_fadeup d-block"> 
                                <a href="prj-bitmex-desktop-2.html" class="wow fadeInUp2 d-block" data-wow-delay="0.5s">Helping</a> 
                            </h4>
                            <p class="text_fadeup d-block"> 
                                <span class="wow fadeInUp2 d-block" data-wow-delay="1s"> customers secure their accounts</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".6s">
                    <div class="single_portfolio_section">
                        <a href="prj-mdx-desktop-3.html">
                            <img src="img/home/portfolio-p4-desktop-3.png" alt="#" class="img-fluid">
                        </a>
                        <div class="single_portfolio_content">
                            <h4 class="text_fadeup d-block"> 
                                <a href="prj-mdx-desktop-3.html" class="wow fadeInUp2 d-block" data-wow-delay="0.5s">Creating</a> 
                            </h4>
                            <p class="text_fadeup d-block"> 
                                <span class="wow fadeInUp2 d-block" data-wow-delay="1s">a new experience for IPLM customers</span>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center subheading_padding">
                <div class="col-sm-10">
                    <div class="section_tittle style_2">
                        <div class="text_fadeup">
                            <h5 class="wow fadeInUp2" data-wow-delay=".3s">Previous Work</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".1s">
                    <div class="single_portfolio_section">
                        <a href="prj-hpe.html">
                            <img src="img/home/portfolio-hpe.png" alt="#" class="img-fluid">
                        </a>
                        <div class="single_portfolio_content">
                            <h4 class="text_fadeup d-block"> 
                                <a href="prj-hpe.html" class="wow fadeInUp2 d-block" data-wow-delay=".5s">Establishing</a> 
                            </h4>
                            <p class="text_fadeup d-block"> 
                                <span class="wow fadeInUp2 d-block" data-wow-delay=".6s">a new kind of Product Studios</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".2s">
                    <div class="single_portfolio_section">
                        <a href="prj-yahoo.html">
                            <img src="img/home/portfolio-yahoo.png" alt="#" class="img-fluid">
                        </a>
                        <div class="single_portfolio_content">
                            <h4 class="text_fadeup d-block"> 
                                <a href="prj-yahoo.html" class="wow fadeInUp2 d-block" data-wow-delay=".5s">Bridging</a> 
                            </h4>
                            <p class="text_fadeup d-block"> 
                                <span class="wow fadeInUp2 d-block" data-wow-delay=".7s">the gap between design & engineering</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".3s">
                    <div class="single_portfolio_section">
                        <a href="prj-nokia.html">
                            <img src="img/home/portfolio-nokia.png" alt="#" class="img-fluid">
                        </a>
                        <div class="single_portfolio_content">
                            <h4 class="text_fadeup d-block"> 
                                <a href="prj-nokia.html" class="wow fadeInUp2 d-block" data-wow-delay=".5s">Trailblazing</a> 
                            </h4>
                            <p class="text_fadeup d-block"> 
                                <span class="wow fadeInUp2 d-block" data-wow-delay="1s">the internet services space</span>
                            </p>
                        </div>
                    </div>
                </div>

        </div>
    </section>
    <!-- portfolio part end -->

    <!-- footer part here -->
    {% include "v2/partials/_footer.html" %}
    <!-- footer part end -->

    <!-- jquery slim -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstarp js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- parallax js -->
    <script src="vendors/parallax/parallax.js"></script>
    <script src="vendors/parallax/breadctumb_parallax.js"></script>
    <!-- isotope js -->
    <script src="vendors/isotop/isotope.pkgd.js"></script>
    <!-- wow js -->
    <script src="vendors/wow/wow.min.js"></script>
    <!-- typed js -->
    <script src="../vendors/typed/typed.min.js"></script>
    <!-- imagesloaded js -->
    <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
</body>

</html>