{% set page = { id:  3,
    menu: {
    'highlight': 'workdetails'
},
banner: {
    'project_name': 'Trollbox',
    'company': 'BitMEX',
    'platform': 'Communication'
},
metrics: {
    'company': 'BitMEX',
    'role': 'Product Designer',
    'year': '2018-2020',
    'duration': '4',
    'site': 'bitmex.com',
    'link': 'https://www.bitmex.com'
},
summary: {
    'heading': 'Trollbox moderation',
    'text': '<p>Trollbox is a real time chat interface for online traders to exchange ideas and trading strategies. Over the years, the Trollbox had become a cesspool of bad actors and misinformation that was drowning knowledgable traders\' voices.</p> <p>Learning from other exchanges like Poloniex (where trollbox moderation was perceived by users as censorship free speech), I recommended introducing a democratic moderation that leaves Users in control.</p> <p>Further research and interviews on this subject, led me to propose a simple mute functionality instead of a full blown moderation feature. </p>'
},
context: {
    heading: 'High traffic chat interface in the desktop & mobile where the traders discuss trading strategies and share ideas.',
    text: '<div class="row">
        <div class="col-lg-4">
        <h6>Customer Goals</h6>
        <ul>
            <li>Stay safe from cyber bullies and misinformation</li>
            <li>Tune out misinformation & noise from the chat</li>
            <li>Know the estimated network fee to be paid</li>
        </ul>
        </div>
        <div class="col-lg-4">
            <h6>Product Goals</h6>
            <ul>
                <li>Should be community driven & require zero manual support intervention</li>
                <li>Reduce inflow of trollbox related support tickets (~ 6 per hour)</li>  
            </ul>
        </div>
        <div class="col-lg-4">
        <h6>Design Challenges</h6>
        <ul>
            <li>Moderation of any kind is perceived as censorship in the crypto world</li>
            <li>Reasons users find another person offensive is very subjective </li>
            <li>Necessity of a HIME solution</li>
        </ul>
    </div>
</div>'
},
screenshots: [ '1-prj-bitmex-mobile-3', '2-prj-bitmex-mobile-3', '3-prj-bitmex-mobile-3'],
win: 'The mute feature reduced support tickets by 100% and this saved the engineering organization  4 - 6 months of effort and time. It reduced support tickets by 100% and this saved the engineering organization  4 - 6 months of effort and time.',
contribution: 'Early investigations, SME interview, and analyzing support tickets revealed that a full blown moderation system may be an overkill. On my recommendation, a mute functionality was built and deployed to production and we measured the response metrics.'
} 
%}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Trollbox</title>
    {% include "v2/partials/_css-links.html" %}
</head>

<body>
    <!-- header part -->
    {% include "v2/partials/_header.html" %}
    <!-- header part end -->

    <!-- banner part -->
    {% include "v2/partials/_prj-banner.html" %}
    <!-- breadcrumb part end -->

    <!-- portfolio content part -->
    {% include "v2/partials/_prj-intro.html" %}
    <!-- portfolio content part end -->
    
    <!-- video section part here -->
    {% include "v2/partials/_prj-video.html" %}
    <!-- video section part end -->

    <!-- portfolio content part -->
    {% include "v2/partials/_prj-context.html" %}
    <!-- portfolio content part end -->

    <!-- portfolio details gallery -->
    {% include "v2/partials/_prj-screenshots.html" %}
    <!-- portfolio details gallery end -->

    <!-- testimonial part here -->
    {% include "v2/partials/_prj-wins.html" %}
    <!-- testimonial part end -->

    <!-- footer part here -->
    {% include "v2/partials/_footer.html" %}
    <!-- footer part end -->

    <!-- jquery slim -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstarp js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl carousel js -->
    <script src="vendors/owl_carousel/js/owl.carousel.min.js"></script>
    <!--magnific popup js -->
    <script src="vendors/magnify_popup/jquery.magnific-popup.js"></script>
    <!-- parallax js -->
    <script src="vendors/parallax/jquery.parallax-scroll.js"></script>
    <script src="vendors/parallax/parallax.js"></script>
    <script src="vendors/parallax/breadctumb_parallax.js"></script>
    <!-- wow js -->
    <script src="vendors/wow/wow.min.js"></script>
    <!-- imagesloaded js -->
    <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
</body>

</html>