{% set page = {
    id: 5,
    menu: {
    'highlight': 'workdetails'
    },
    banner: {
    'project_name': 'Security Centre',
    'company': 'BitMEX',
    'platform': 'Desktop'
    },
    metrics: {
    'company': 'BitMEX',
    'role': 'Product Designer',
    'year': '2018-2020',
    'duration': '6',
    'site': 'bitmex.com',
    'link': 'https://www.bitmex.com'
    },
    summary: {
    'heading': 'One stop shop for all Security settings',
    'text': '<p>BitMEX is one of the few exchanges that haven\'t been hacked since going live. This is partly since we take security very seriously and have built a host of different settings that the customer can configure to add layers of security to their account.</p> <p>As the exhcnage grew, these security features were added on a need basis and located across multiple pages in the user account pages. This project started out as a solution to increase 2FA adoption on the platform. During design research, I discovered that many of our users aren\'t even aware of these security settings. I proposed a single screen for all security settings and rallied the support of multiple teams including security, product, program, support and compliance teams to get this project on the roadmap and build it out. </p>'
    },
    context: {
    heading: 'Idea initiated, proposed and executed by me working with program management,  engineering, security and compliance teams.',
    text: '<div class="row">
        <div class="col-lg-4">
            <h6>Customer Goals</h6>
            <ul>
                <li>Safely trade on the platform without having to be worried about the safety of their funds or trading activities</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h6>Product Goals</h6>
            <ul>
                <li>Increase 2FA adoption on the platform from the current 18%</li>
                    <li>Help users understand their options to keep their account and funds safe from account take-overs.</li>
                    <li>Make it easier for users to recover access to their accounts if they lose their 2FA mechanism.</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h6>Design Goals</h6>
            <ul>
                <li>Increase discoverability of security features</li>
                    <li>Educate users on what each of these settings mean.</li>
                    <li>Simplify the flow of adding a 2FA device.</li>
            </ul>
        </div>
    </div>'
    },
    win: 'Increased 2FA adoption by <bold>33%</bold> and reduced support tickets significantly within 2 weeks',
    contribution: 'Proposed a 4 phase strategy to increase 2FA on the platform that involved - Consolidation of security features, Passive encouragement, Aggressive encouragement, and Enforcement of security standards'
    }
    %}
    <!DOCTYPE html>
    <html lang="zxx">
    
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Mobile - Instrument Details</title>
        {% include "v2/partials/_css-links.html" %}
    </head>
    
    <body>
        <!-- header part -->
        {% include "v2/partials/_header.html" %}
        <!-- header part end -->
    
        <!-- banner part -->
        {% include "v2/partials/_prj-banner.html" %}
        <!-- breadcrumb part end -->
    
        <!-- portfolio content part -->
        {% include "v2/partials/_prj-intro.html" %}
        <!-- portfolio content part end -->
    
        <!-- video section part here -->
        {% include "v2/partials/_prj-video.html" %}
        <!-- video section part end -->
    
        <!-- portfolio content part -->
        {% include "v2/partials/_prj-context.html" %}
        <!-- portfolio content part end -->
    
        <!-- portfolio details gallery -->
        {% include "v2/partials/_prj-screenshots.html" %}
        <!-- portfolio details gallery end -->
    
        <!-- testimonial part here -->
        {% include "v2/partials/_prj-wins.html" %}
        <!-- testimonial part end -->
    
        <!-- footer part here -->
        {% include "v2/partials/_footer.html" %}
        <!-- footer part end -->
    
        <!-- jquery slim -->
        <script src="js/jquery-3.5.1.min.js"></script>
        <!-- popper js -->
        <script src="js/popper.min.js"></script>
        <!-- bootstarp js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- owl carousel js -->
        <script src="vendors/owl_carousel/js/owl.carousel.min.js"></script>
        <!--magnific popup js -->
        <script src="vendors/magnify_popup/jquery.magnific-popup.js"></script>
        <!-- parallax js -->
        <script src="vendors/parallax/jquery.parallax-scroll.js"></script>
        <script src="vendors/parallax/parallax.js"></script>
        <script src="vendors/parallax/breadctumb_parallax.js"></script>
        <!-- wow js -->
        <script src="vendors/wow/wow.min.js"></script>
        <!-- imagesloaded js -->
        <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
    </body>
    
    </html>