{% set page = { id:  2,
    menu: {
    'highlight': 'workdetails'
},
banner: {
    'project_name': 'Crypto Wallet',
    'company': 'BitMEX',
    'platform': 'Crypto Fintech'
},
metrics: {
    'company': 'BitMEX',
    'role': 'Product Designer',
    'year': '2018-2020',
    'duration': '9',
    'site': 'bitmex.com',
    'link': 'https://www.bitmex.com'
},
video: 'https://www.youtube.com/watch?v=_vwIA22cMgg',
summary: {
    'heading': 'BitMEX Deposits & Withdrawals',
    'text': '<p>BitMEX\'s desktop experience was a great hit among traders when it launched 2014. From this success grew the demand from customers for a world class mobile experience that compliments the web experience. The next couple of years saw developers from around the globe building unofficial mobile apps using BitMEX\'s open APIs. In 2018, the BitMEX UX practice started on designing a one-of-a-kind trading experience for the first official BitMEX mobile app. </p><p>The outcome of this project was to build a mobile experience that solves some specific experience and security problems that come with the browser environment and create a custom experience for mobile users.   </p>'
},
context: {
    heading: 'Low traffic screen but critical in establishing trust with customer.',
    text: '<div class="row">
        <div class="col-lg-4">
        <h6>Customer Goals</h6>
        <ul>
            <li>Easy to deposit or withdraw funds from the platform</li>
            <li>Ensure right wallet id to which they are withdrawing or depositing</li>
            <li>Know the estimated network fee to be paid</li>
        </ul>
        </div>
        <div class="col-lg-4">
            <h6>Product Goals</h6>
            <ul>
                <li>Establish/Increase customer trust on the platform</li>
                <li>Make it easy for customers to understand the flow & its restrictions</li>  
            </ul>
        </div>
        <div class="col-lg-4">
        <h6>Design Challenges</h6>
        <ul>
            <li>Copy paste errors</li>
            <li>Lack of understanding of flow lead to high volume of customer tickets</li>
            <li>Malicious apps & browser extensions taking over customer environments </li>
        </ul>
    </div>
</div>'
},
screenshots: [ '1-prj-bitmex-mobile-2', '2-prj-bitmex-mobile-2', '3-prj-bitmex-mobile-2'],
win: 'Designed a flow with emphasis on increasing customers’ trust on the platform and making it easy for one-handed operations of the commuter newbie trader persona. Designing a flow that puts equal emphasis on the deposit and withdrawal flows.',
contribution: 'Researching & understanding Bitcoin Improvement Proposals relating to wallets, and upcoming improvements (Segwit32).  Working with wallet team to understand their roadmap and design a solution that meets the current needs but is scalable to meet the wallet team’s roadmap over the next year.'
} 
%}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Mobile - Deposits & Withdrawals</title>
    {% include "v2/partials/_css-links.html" %}
</head>

<body>
    <!-- header part -->
    {% include "v2/partials/_header.html" %}
    <!-- header part end -->

    <!-- banner part -->
    {% include "v2/partials/_prj-banner.html" %}
    <!-- breadcrumb part end -->

    <!-- portfolio content part -->
    {% include "v2/partials/_prj-intro.html" %}
    <!-- portfolio content part end -->
    
    <!-- video section part here -->
    {% include "v2/partials/_prj-video.html" %}
    <!-- video section part end -->

    <!-- portfolio content part -->
    {% include "v2/partials/_prj-context.html" %}
    <!-- portfolio content part end -->

    <!-- portfolio details gallery -->
    {% include "v2/partials/_prj-screenshots.html" %}
    <!-- portfolio details gallery end -->

    <!-- testimonial part here -->
    {% include "v2/partials/_prj-wins.html" %}
    <!-- testimonial part end -->

    <!-- footer part here -->
    {% include "v2/partials/_footer.html" %}
    <!-- footer part end -->

    <!-- jquery slim -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstarp js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl carousel js -->
    <script src="vendors/owl_carousel/js/owl.carousel.min.js"></script>
    <!--magnific popup js -->
    <script src="vendors/magnify_popup/jquery.magnific-popup.js"></script>
    <!-- parallax js -->
    <script src="vendors/parallax/jquery.parallax-scroll.js"></script>
    <script src="vendors/parallax/parallax.js"></script>
    <script src="vendors/parallax/breadctumb_parallax.js"></script>
    <!-- wow js -->
    <script src="vendors/wow/wow.min.js"></script>
    <!-- imagesloaded js -->
    <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
</body>

</html>