{% set page = {
    id: 4,
    menu: {
    'highlight': 'workdetails'
    },
    banner: {
    'project_name': 'CLI Trading',
    'company': 'BitMEX',
    'platform': 'Desktop'
    },
    metrics: {
    'company': 'BitMEX',
    'role': 'Product Designer',
    'year': '2018-2020',
    'duration': '6',
    'site': 'bitmex.com',
    'link': 'https://www.bitmex.com'
    },
    video: 'https://www.youtube.com/watch?v=_MeyYV4E2dQ',
    summary: {
    'heading': 'BitMEX Mobile App',
    'text': '<p>BitMEX Mobile allows users to manage all critical account features, and provides access to BitMEX’s full
        range of innovative products. Available in Google Play Store and Apple App Store in over 140 countries
        worldwide (except select geographies like US, Cuba, Iran). </p>
    
    <p>My team and I had the opportunity to design the official mobile application from the scratch. </p>
    
    <p>The app was an instant hit with over $5B in trade volume resulting in a revenue of over $2M in the first six
        months of launch. Over 50k installations in the first 6 months and drove a 144% quarter over quarter revenue
        growth.</p>'
    },
    context: {
    heading: 'A high traffic screen where the customer makes the decision to open, close or amend a position.',
    text: '<div class="row">
        <div class="col-lg-4">
            <h6>Customer Goals</h6>
            <ul>
                <li>Understand the current market</li>
                <li>Easily access and read critical information, while on the move </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h6>Product Goals</h6>
            <ul>
                <li>Provide appropriate information to the user to help them make right & quick financial decisions</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h6>Design Challenges</h6>
            <ul>
                <li>Large amount of different data with similar priority</li>
                <li>Design to avoid fat-fingering errors</li>
                <li>Constantly changing multiple pieces of information </li>
            </ul>
        </div>
    </div>'
    },
    screenshots: [ '1-prj-bitmex-mobile-1', '2-prj-bitmex-mobile-1', '3-prj-bitmex-mobile-1'],
    win: 'Designed a high traffic screen with very complex information architecture to accurately reflect the dynamic and
    constantly changing nature of the platform without wearing out or overwhelming the user.',
    contribution: 'Understanding how traders do technical analysis and the markers traders look for in a candlestick chart.
    Working through 18+ pieces of data points to prioritize what needs to be displayed and where on the the mobile screen
    will it be most useful for the trader.'
    }
    %}
    <!DOCTYPE html>
    <html lang="zxx">
    
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Mobile - Instrument Details</title>
        {% include "v2/partials/_css-links.html" %}
    </head>
    
    <body>
        <!-- header part -->
        {% include "v2/partials/_header.html" %}
        <!-- header part end -->
    
        <!-- banner part -->
        {% include "v2/partials/_prj-banner.html" %}
        <!-- breadcrumb part end -->
    
        <!-- portfolio content part -->
        {% include "v2/partials/_prj-intro.html" %}
        <!-- portfolio content part end -->
    
        <!-- video section part here -->
        {% include "v2/partials/_prj-video.html" %}
        <!-- video section part end -->
    
        <!-- portfolio content part -->
        {% include "v2/partials/_prj-context.html" %}
        <!-- portfolio content part end -->
    
        <!-- portfolio details gallery -->
        {% include "v2/partials/_prj-screenshots.html" %}
        <!-- portfolio details gallery end -->
    
        <!-- testimonial part here -->
        {% include "v2/partials/_prj-wins.html" %}
        <!-- testimonial part end -->
    
        <!-- footer part here -->
        {% include "v2/partials/_footer.html" %}
        <!-- footer part end -->
    
        <!-- jquery slim -->
        <script src="js/jquery-3.5.1.min.js"></script>
        <!-- popper js -->
        <script src="js/popper.min.js"></script>
        <!-- bootstarp js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- owl carousel js -->
        <script src="vendors/owl_carousel/js/owl.carousel.min.js"></script>
        <!--magnific popup js -->
        <script src="vendors/magnify_popup/jquery.magnific-popup.js"></script>
        <!-- parallax js -->
        <script src="vendors/parallax/jquery.parallax-scroll.js"></script>
        <script src="vendors/parallax/parallax.js"></script>
        <script src="vendors/parallax/breadctumb_parallax.js"></script>
        <!-- wow js -->
        <script src="vendors/wow/wow.min.js"></script>
        <!-- imagesloaded js -->
        <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
    </body>
    
    </html>