{% set page = {
    id: 9,
    menu: {
    'highlight': 'workdetails'
    },
    banner: {
    'project_name': 'Nokia',
    'company': 'Perforce',
    'platform': 'Consumer Internet'
    },
    metrics: {
    'company': 'Perforce Inc.',
    'role': 'Director, Product UX',
    'year': '2015-2018',
    'site': 'perforce.com',
    'link': 'https://www.perforce.com/products/methodics-iplm'
    },
    summary: {
    'heading': 'Methodics IP Life Cycle Management',
    'text': '<p>ProjectIC is Methodics\’ comprehensive IP Lifecycle Management platform, enabling companies of all sizes to have complete control over the design and integration of both internal and external design elements including libraries, new analog and digital design, and standalone IP.</p>
        <p>ProjectIC for Enterprise maximizes internal and external design traceability and reuse by tightly coupling IP creators with IP consumers.</p> <p>ProjectIC has been the flagship product has evolved from a series of shell scripts to a stable product built on Python, Java, Neo4J complete with Rest APIs. The primary user interface had been CLI till in the last few years, a more powerful UI became inevitable to perform the more complex tasks supported by ProjectIC\’s recent versions.</p>'
    },
    context: {
    heading: 'CEO\'s design brief - Make it look shiny. Make it look expensive.',
    text: '<div class="row">
        <div class="col-lg-4">
            <h6>Technological Goals</h6>
            <ul>
                <li>Leverage newer libraries and design patterns</li>
                <li>Create maintainable & scalable code</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h6>Product Goals</h6>
            <ul>
                <li>Should be useful</li>
                    <li>Should simplify complex tasks</li>
                    <li>Should present large amounts of data in a clean elegant less-confusing manner</li>
                    <li>Make it easy for users to discover new features</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h6>Design Challenges</h6>
            <ul>
                <li>Keep the look-and-feel simple and spaced out</li>
                    <li>Reduced visual noise</li>
                    <li>Neutral color schemes to enable white-labelling</li>
            </ul>
        </div>
    </div>'
    },
    win: 'The final web based product that was shipped was designed and built from the scratch delivering world class experience that was highly appreciated by companies like Intel, Maxim Integrated, Qualcomm',
    contribution: 'I established and grew the Methodics\’ design organization to a small team of very talented designers and front end engineers who continued to build great experiences for Methodics\’ customers.'
    }
    %}
    <!DOCTYPE html>
    <html lang="zxx">
    
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Mobile - Instrument Details</title>
        {% include "v2/partials/_css-links.html" %}
    </head>
    
    <body>
        <!-- header part -->
        {% include "v2/partials/_header.html" %}
        <!-- header part end -->
    
        <!-- banner part -->
        {% include "v2/partials/_prj-banner.html" %}
        <!-- breadcrumb part end -->
    
        <!-- portfolio content part -->
        {% include "v2/partials/_prj-intro.html" %}
        <!-- portfolio content part end -->
    
        <!-- video section part here -->
        {% include "v2/partials/_prj-video.html" %}
        <!-- video section part end -->
    
        <!-- portfolio content part -->
        {% include "v2/partials/_prj-context.html" %}
        <!-- portfolio content part end -->
    
        <!-- portfolio details gallery -->
        {% include "v2/partials/_prj-screenshots.html" %}
        <!-- portfolio details gallery end -->

        <!-- portfolio details gallery -->
        <section class="portfolio_details_gallery sec_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-10">
                        <div class="section_tittle mb_55">
                            <h5 class="wow fadeInDown" data-wow-delay=".3s">Screenshots</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="portfolio_details_img">
                            <img src="img/prj-scrshots/1-prj-bitmex-desktop-3.png" alt="#" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="portfolio_details_img">
                            <img src="img/prj-scrshots/2-prj-bitmex-desktop-3.png" alt="#" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="portfolio_details_img">
                            <img src="img/prj-scrshots/3-prj-bitmex-desktop-3.png" alt="#" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="portfolio_details_img">
                            <img src="img/prj-scrshots/4-prj-bitmex-desktop-3.png" alt="#" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio_details_shape" data-parallax='{"x": 0, "y": 100}'>
                <img src="img/icon/testimonial_icon_3.png" alt="#" class="wow fadeInRight" data-wow-delay=".3s">
            </div>
        </section>
        <!-- portfolio details gallery -->
    
        <!-- testimonial part here -->
        {% include "v2/partials/_prj-wins.html" %}
        <!-- testimonial part end -->
    
        <!-- footer part here -->
        {% include "v2/partials/_footer.html" %}
        <!-- footer part end -->
    
        <!-- jquery slim -->
        <script src="js/jquery-3.5.1.min.js"></script>
        <!-- popper js -->
        <script src="js/popper.min.js"></script>
        <!-- bootstarp js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- owl carousel js -->
        <script src="vendors/owl_carousel/js/owl.carousel.min.js"></script>
        <!--magnific popup js -->
        <script src="vendors/magnify_popup/jquery.magnific-popup.js"></script>
        <!-- parallax js -->
        <script src="vendors/parallax/jquery.parallax-scroll.js"></script>
        <script src="vendors/parallax/parallax.js"></script>
        <script src="vendors/parallax/breadctumb_parallax.js"></script>
        <!-- wow js -->
        <script src="vendors/wow/wow.min.js"></script>
        <!-- imagesloaded js -->
        <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
    </body>
    
    </html>