{% set page = {
    id: 8,
    menu: {
    'highlight': 'workdetails'
    },
    banner: {
    'project_name': 'Design Prototyping @',
    'platform': 'Enterprise'
    },
    metrics: {
    'role': 'Principal Design Prototyper',
    'year': '2008-2011',
    'site': 'yahoo.com',
    'link': 'https://www.yahoo.com/'
    },
    summary: {
    'heading': 'Ad Platforms, Calendar, Email & a lot of Hackathons',
    'text': '<p>I joined Yahoo! to establish the Prototyping & Front End practice in the User Experience Design team in Yahoo! India. At Yahoo!, I worked closely with designers, developers and product managers to design and prototype experiences across web and handheld devices in Emerging Markets as well as Global products.</p>

    <p>My notable contributions to Yahoo! include the Front-end work done in the latest design revamps of Yahoo! Calendar.</p>'
    },
    win: 'Defining the process and protocols to deliver prototype code to Engineering.',
    contribution: 'Prioneering a Prototyping driven Design culture. Educating designers on newer frameworks and possibilities.'
    }
    %}
    <!DOCTYPE html>
    <html lang="zxx">
    
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Yahoo!</title>
        {% include "v2/partials/_css-links.html" %}
    </head>
    
    <body>
        <!-- header part -->
        {% include "v2/partials/_header.html" %}
        <!-- header part end -->
    
        <!-- banner part -->
        {% include "v2/partials/_prj-banner.html" %}
        <!-- breadcrumb part end -->
    
        <!-- portfolio content part -->
        {% include "v2/partials/_prj-intro.html" %}
        <!-- portfolio content part end -->
    
        <!-- video section part here -->
        {% include "v2/partials/_prj-video.html" %}
        <!-- video section part end -->
    
        <!-- portfolio content part -->
        {% include "v2/partials/_prj-context.html" %}
        <!-- portfolio content part end -->
    
        <!-- portfolio details gallery -->
        {% include "v2/partials/_prj-screenshots.html" %}
        <!-- portfolio details gallery end -->

        <!-- portfolio details gallery -->
        <section class="portfolio_details_gallery sec_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-10">
                        <div class="section_tittle mb_55">
                            <h5 class="wow fadeInDown" data-wow-delay=".3s">Some interesting work from 2008 - 2011</h5>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="faq_content_iner section_padding">
                            <div class="single_faq_content wow fadeInDown">
                                <h4>Mail & Calendar</h4>
                                <p>I worked on Prototypig and building the Front End of two of Yahoo!\'s key communication products - The Calendar and Email.' </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="portfolio_details_img">
                            <img src="img/prj-scrshots/yahoo-1.png" alt="#" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="portfolio_details_img">
                            <img src="img/prj-scrshots/yahoo-2.png" alt="#" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="faq_content_iner section_padding">
                            <div class="single_faq_content wow fadeInDown">
                                <h4>Ad Quality</h4>
                                <p>Ad Quality Inspection tools used by Yahoo! Ad Quality engineers & support executives to manually review ads that have been flagged by the algorithms. The task involved reviewing each Ads for text, image, jurisdictional compliance, context of serving.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="portfolio_details_img">
                            <img src="img/prj-scrshots/yahoo-3.png" alt="#" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="faq_content_iner section_padding">
                            <div class="single_faq_content wow fadeInDown">
                                <h4>Hacks & Hackathons</h4>
                                <p>Being the sole prototyper on the team, I got the opportunity to take part in many hacks and fun projects that the UX team worked on. Some non-work related projects that I worked on were very interesting experiments using Augmented reality. Created using an infrastructure of javascript code working with the APIs of Canon cameras SDK, these projects helped the UX team explore and experiment Ad placement ideas in physical spaces.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="portfolio_details_img">
                            <img src="img/prj-scrshots/yahoo-4.png" alt="#" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="portfolio_details_img">
                            <img src="img/prj-scrshots/yahoo-5.png" alt="#" class="img-fluid">
                        </div>
                    </div>
                </div>


            </div>
            <div class="portfolio_details_shape" data-parallax='{"x": 0, "y": 100}'>
                <img src="img/icon/testimonial_icon_3.png" alt="#" class="wow fadeInRight"  data-wow-delay=".3s">
            </div>
        </section>
        <!-- portfolio details gallery -->
    
        <!-- testimonial part here -->
        {% include "v2/partials/_prj-wins.html" %}
        <!-- testimonial part end -->
    
        <!-- footer part here -->
        {% include "v2/partials/_footer.html" %}
        <!-- footer part end -->
    
        <!-- jquery slim -->
        <script src="js/jquery-3.5.1.min.js"></script>
        <!-- popper js -->
        <script src="js/popper.min.js"></script>
        <!-- bootstarp js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- owl carousel js -->
        <script src="vendors/owl_carousel/js/owl.carousel.min.js"></script>
        <!--magnific popup js -->
        <script src="vendors/magnify_popup/jquery.magnific-popup.js"></script>
        <!-- parallax js -->
        <script src="vendors/parallax/jquery.parallax-scroll.js"></script>
        <script src="vendors/parallax/parallax.js"></script>
        <script src="vendors/parallax/breadctumb_parallax.js"></script>
        <!-- wow js -->
        <script src="vendors/wow/wow.min.js"></script>
        <!-- imagesloaded js -->
        <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
    </body>
    
    </html>