.single_team_member {
    position: relative;

    .team_member_img {
        display: block;

        img {
            width: 100%;
        }
    }

    .social_icon {
        height: 50px;
        width: 200px;
        background-color: $base_color;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 45px;
        left: -100px;
        opacity: 0;
        visibility: hidden;
        @include transform_time(.5s);
        @media #{$tab} {
            opacity: 1;
            visibility: visible;
            left: 0;
        }
        a {
            margin: 0 13px;
            font-size: 16px;
            color: $white;
            &:hover {
                i {
                    color: $white;
                }
            }
        }
    }

    .team_member_img {
        position: relative;
        overflow: hidden;

        &:hover {
            .social_icon {
                left: 0;
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .team_member_info {
        text-align: center;
        margin-top: 26px;
        @media #{$tab} {
            margin-top: 20px;
        }
        h4 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 2px;
            font-family: $font_2;

            a {
                color: $heading_color;

                &:hover {
                    color: $base_color;
                }
            }
        }
    }
    &.style_2{
        margin-bottom: 50px;
        @media #{$tab}{
            margin-bottom: 30px;
        }
        .social_icon{
            bottom: 30px;
        }
        .team_member_img {
            border-radius: 50%;
        }
        .social_icon{
            width: 100%;
        }
    }
}
.team_member_part{
    &.sec_padding{
        padding: 120px 0 60px;
        @media #{$mobile}{
            padding: 70px 0 40px;
        }
        @media #{$tab}{
            padding: 80px 0 50px;
        }
    }
    &.sec_btn_padding{
        padding: 0 0 60px;
        @media #{$mobile}{
            padding: 0 0 40px;
        }
        @media #{$tab}{
            padding: 0 0 50px;
        }
    }
    .team_tittle{
        h2{
           font-size: 32px;
           font-weight: 600;  
           margin-bottom: 30px;
           margin-top: 20px;
        }
    }
}
